<div class="flex my-4">
    <div class="row my-2 ">
        <div class="card col-12 col-lg-2 col-md-2 col-sm-12 mx-5 mb-5 align-self-start profile_container px-2 " id="left_box">
            <% if (typeof user != "undefined"){ %>
                <img class="card-img-top mt-3" id="profile_photo" src="<%= user.profileImagePath %>"
                     alt="images/male.png">
            <% } else { %>
                <img class="card-img-top mt-3" id="profile_photo" src="images/male.png" alt="images/male.png">
            <% } %>
            <div class="card-body">

                <% if (typeof user != "undefined") { %>
                    <h4 id="profile_name" class="card-title text-center"><%= user.firstName %> <%= user.lastName %></h4>
                    <p class="card-text">Age: <span id="profile_age"><%= user.age %></span></p>
                    <p class="card-text">Email: <span id="profile_email"><%= user.email %></span></p>
                    <p class="card-text">Country: <span id="profile_country"><%= user.country %></span></p>
                    <p class="card-text">City: <span id="profile_city"><%= user.city %></span></p>
                <% } else { %>
                    <h2 id="profile_name" class="card-title">Ricardo Sanchez</h2>
                    <p class="card-text">Age: <span id="profile_age"></span></p>
                    <p class="card-text">Email: <span id="profile_email"></span></p>
                    <p class="card-text">Country: <span id="profile_country"></span></p>
                    <p class="card-text">City: <span id="profile_city"></span></p>
                <% } %>
            </div>
        </div>

        <div class="card col-12 col-lg-6 col-md-6 col-sm-12 posts_container px-0 mx-5 mb-5" id="middle_box">
            <div class="card-header mx-0 w-100">
                <h2 class="text-center my-2">Posts</h2>
                <form id="post_send_form" class="mt-2">
                    <div class="input-group">
                        <% if (typeof user != "undefined"){ %>
                            <input type="hidden" name="user_id" value="<%= user.id %>">
                        <% } %>
                        <textarea class="form-control" name="post-textarea" id="post-textarea" maxlength="50000"
                                  placeholder="Start Typing..." autofocus></textarea>
                        <div class="input-group-append">
                            <button type=submit class="input-group-text send_btn"><i class="fas fa-location-arrow"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div id="the-count" class="text-right">
                    <span id="current">0</span>
                    <span id="maximum">/ 300</span>
                </div>
            </div>

            <div id="posts" class="card-body mt-2">
                <%
                if (typeof (user) != "undefined"){
                for (let i = 0; i < user.posts.length; i++){ %>

                    <div class="post my-4">
                        <form action="post-delete" method="post">
                            <input name="user_id" value="<%= user.id %>" hidden>
                            <input name="post_id" value="<%= user.posts[i].id %>" hidden>
                            <button type="submit" class="close custom_delete_button" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </form>

                        <div class="mx-4 mt-4 post_text"><%= user.posts[i].message %></div>
                        <div class="text-right mb-2 mx-3"
                             style="color: darkcyan"><%= moment(user.posts[i].date).utcOffset(+2).format('MMMM Do YYYY, HH:mm:ss') %></div>
                    </div>

                <% }} %>
            </div>
        </div>

        <div class="card col-12 col-lg-2 col-md-2 col-sm-12 mx-5 mb-5 notification_container px-0"  id="right_box">
            <div class="card-header mx-0 w-100 px-0">
                <h2 class="text-center my-2">Notifications</h2>
            </div>
            <div class="custom_card-body card-body">
                <% if (typeof (friendRequests) != "undefined"&& friendRequests.length>0){
                for (let i = 0; i < friendRequests.length; i++){ %>
                    <div class="card p-1 m-1 col">
                        <div class="card-header text-center">
                            <h6>Friend Request</h6>
                        </div>
                        <img class="card-img-top embed-responsive-16by9" src="<%= friendRequests[i].profileImagePath %>"
                             alt="Card image">
                        <div class="card-body text-center">
                            <h6 class="card-title"><%= friendRequests[i].firstName %> <%= friendRequests[i].lastName %></h6>
                            <div class="card-footer">
                                <form action="/friendship-notification" method="post">
                                    <input type="hidden" name="user_request_id" value="<%= friendRequests[i].id %>">
                                    <input type="hidden" name="currentpage" value="friends">
                                    <% if (typeof (user) != "undefined"){ %>
                                        <input type="hidden" name="user_id" value="<%= user.id %>">
                                    <% } %>
                                    <button type="submit" name="accept_friendship" value="false" class="btn btn-danger">
                                        Refuse
                                    </button>
                                    <button type="submit" name="accept_friendship" value="true" class="btn btn-success">
                                        Accept
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                <% } } else { %>
                    <div class="card p-1 m-1 col text-center">
                        <div class="card-header text-center">
                            <h6>No Friend Requests</h6>
                        </div>
                        <div class="card-body">
                            <p>There are no current notifications.</p>
                        </div>
                    </div>
                <% } %>
            </div>
    </div>
</div>
